html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: pink;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(133, 83, 126, 0.66);
}

.modal {
  font-size: 1em;
  background-color: white;
  height: 18rem;
  width: 20rem;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px black solid;
}

.modal__header {
  text-align: left;
  background-color: rgb(189, 187, 187);
  padding: 0.5rem;
}

.modal__body {
  padding: 2rem;
  color: black;
}

.modal__footer {
  padding: 0.25rem;
}

p {
  font-size: 1.25rem;
}
